
.blog-main{
    padding-left: 40px;
    padding-right:  40px;
    width: 60%;
}


@media (max-width: 768px) {
    .blog-main {
        width: 100%;
        padding-left: 10px;
    }
    .blog-card {
        width: 100%;
        padding: 10px;
    }
    img {
        width: 100%;
        height: auto; 
    }
}
